.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    color:  rgb(0 191 166);
}

.logo:hover {
    color:  var(--primary-hover);
}

.menuIcon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbarLink {
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    overflow: hidden;
}

.navbarLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    color: var(--primary);
    background: currentColor;
    transition: width 0.3s ease-in-out;
}

.navbarLink:hover::after {
    width: 100%;
}

@media (max-width: 700px) {
    .menuIcon {
        display: block;
    }
    .container {
        flex-direction: row;
        align-items: center;
    }

    .links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .links.open {
        width: 90%;
        padding: 20px;
        margin: 10px auto;
        display: flex;
        background-color: #141414;
        border: 1px solid #2f2f2f;
        color: #dedede;
        border-radius: var(--size-border-radius);
        z-index: 99;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
    }
}


/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --animation-color: var(--primary);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hovertext {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hovertext {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }